- if @user.password_sha1.empty?
  %h3 Set your password for HTTP basic authentication
  %p
    After set your password, your can use
    %strong= request.host_with_port
    as a Twitter Basic Auth API proxy.
  %p Note: For security reason, this password should not be same as your Twitter account's password.

- else
  %p
    Now your can use
    %strong= request.host_with_port
    as a Twitter Basic Auth API proxy.
  %p
    Note: Be sure to
    %strong use the password you've set
    instead of your Twitter account's password.

%p
  %form(action='/update_password' method='POST')
    %label
      Set or change password
      %br
      %input(name='password' type='password')
    %br
    %input(type='submit' value='Save')
